.btn-info {
  background-color: $purple;
  border-color: $purple;
  &:focus, &:active, &:hover {
    background-color: $purple;
    border-color: $purple;
  }
}


button {
  &.logout-btn {
    position: absolute;
    right: 20px;
    z-index: 10;
    background: transparent;
    i.fa {font-size: 30px; color: $green;}
  }
}